<div class="container">
    <h2>Register</h2>
    <form (ngSubmit)="onSubmit()" #registerForm="ngForm">

        <div class="form-group">
            <label for="username">Email</label>
            <input type="text" style="width: 400px;" class="form-control" minlength="6" maxlength="60" required [(ngModel)]="regUser.email"
                name="email" #email="ngModel">
            <div *ngIf="email.invalid && (email.dirty || email.touched)">
                <div *ngIf="email.errors.required">Email is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" style="width: 400px;" class="form-control" minlength="4" maxlength="60" required [(ngModel)]="regUser.userName"
                name="name" #name="ngModel">
            <div *ngIf="name.invalid && (name.dirty || name.touched)">
                <div *ngIf="name.errors.required">UserName is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" style="width: 400px;" class="form-control"  minlength="6" required [(ngModel)]="regUser.password" name="code" #code="ngModel">
            <div *ngIf="code.invalid && (code.dirty || code.touched)" class="alert alert-danger">
                <div *ngIf="code.errors.required">Password is required.</div>
                <div *ngIf="code.errors.minlength">Password must be at least 6 characters long.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="password">Confirm Password</label>
            <input type="password" style="width: 400px;" class="form-control"  minlength="6" required [(ngModel)]="regUser.confirmPassword" name="confirm" #confirm="ngModel">
            <div *ngIf="confirm.invalid && (confirm.dirty || confirm.touched)" class="alert alert-danger">
                <div *ngIf="confirm.errors.required">Confirm Password is required.</div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
</div>